@import "../../styles/variables";

.footer {
  align-items: center;
  background-color: $middle-red;
  color: $white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;

  &__anchor {
    text-decoration: underline dotted;
    text-underline-offset: 2px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }
}
